<section id="about-section"> <!-- About Section -->
			
    <!-- this is dummy heading for W3-Validation approval you can remove it if you want -->
    <h2 class="w3-validation">For W3 Validation</h2>
    <!-- this is dummy heading for W3-Validation approval you can remove it if you want -->
    
            <div class="container-fluid">  
                <div class="row" id="about">
                    <div class="col-md-6 about_left">
                         <a href="#" class="button-one about_btn button-type-one button-box">About Us</a>
                    </div>
                    <div class="col-md-6 about_right wow fadeInUp" data-wow-delay="0.0s">
                          <div class="about_text">
                                <img src="src.assets/images/tatto.png" class="img-responsive" alt=""/>
                                <h3>Aliquam ac justo interdum, elementum ligula et, condimentum orci. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc risus eros, ultricies quis erat sit amet, elementum vulputate lorem. Sed at lacinia lectus, quis blandit libero. </p>
                                <p>Quisque ac malesuada lectus. Proin gravida feugiat commodo. Phasellus fermentum sem ut felis vehicula aliquet. Donec rhoncus, mi et euismod dictum, purus lorem vehicula justo, a iaculis mi nulla et risus.</p>
                          </div>
                    </div>
                </div> 
             
            </div>  
    </section>
    