<section id="footer-section"> <!-- Footer Section -->
			
    <!-- this is dummy heading for W3-Validation approval you can remove it if you want -->
    <h2 class="w3-validation">For W3 Validation</h2>
    <!-- this is dummy heading for W3-Validation approval you can remove it if you want -->
    
        <div class="container">
            <div class="row">
                <nav class="footer-nav">
                    <ul class="nav-list wow fadeInDown" id="footer-menu">
                        <li><a href="#">Home</a></li>
                        <li><a href="#about" class="scroll">About</a></li>
                        <li><a href="#gallery" class="scroll">Gallery</a></li>
                        <!-- logo -->
                        <li class="logo"><a href="index.html"><img src="src/assets/images/logo.png" alt=""/></a></li>
                        <!-- logo -->
                        <li><a href="#faq" class="scroll">Faq</a></li>
                        <li><a href="#find" class="scroll">Find Us</a></li>
                        <li><a href="#contact" class="scroll">Contact</a></li>
                    </ul>
                </nav>
                <p class="copyright wow fadeInUp">&copy; 2015 InkTattoo. All Right Reserved. Developed by The <a href="http://theuncreativelab.com">Uncreative Lab</a> and <a href="http://www.themezy.com">Themezy.com</a>.</p>
            </div>
        </div>
    </section>
