
<header id="header"> <!-- Header Part -->
			
    <!-- this is dummy heading for W3-Validation approval you can remove it if you want -->
    <h2 class="w3-validation">For W3 Validation</h2>
    <!-- this is dummy heading for W3-Validation approval you can remove it if you want -->
    
            <div class="header">
                <div class="container">
                        <!-- start-top-nav -->
                        <div class="top-nav">
                            <div class="top-header">
                                <div class="responsive-logo">
                                   <a href="index.html"><img src="src/assets/images/logo.png" alt=""/></a>
                                </div>
                            </div>
                            <nav class="nav">
                                <a id="menu-toggle" class="anchor-link" href="#"><img src="src/assets/images/nav.png" alt="" /></a>
                                <ul class="nav-list" id="menu">
                                    <li><a href="#">Home</a></li>
                                    <li><a href="#about" class="scroll">About</a></li>
                                    <li><a href="#gallery" class="scroll">Gallery</a></li>
                                    <!-- logo -->
                                     <li class="logo"><a href="index.html"><img src="images/logo.png" alt=""/></a></li>
                                    <!-- logo -->
                                    <li><a href="#faq" class="scroll">Faq</a></li>
                                    <li><a href="#find" class="scroll">Find Us</a></li>
                                    <li><a href="#contact" class="scroll">Contact</a></li>
                                </ul>
                            </nav>
                            <script type="text/javascript">
                                  $(document).ready(function() {
                                
                                    $('#menu-toggle').click(function () {
                                      $('#menu').toggleClass('open');
                                      e.preventDefault();
                                    });
                                    
                                });
                            </script>
                        </div>
                    <!-- End-top-nav -->
                </div>
            </div>
    </header>